<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>user_edit</title>
</head>

<body>
    <div class="container">

        <h1>User info</h1>

        <div class="errors">
            <% if @user.errors.any? %>
            <p><%= @user.errors.count %>件のerror</p>
            <% @user.errors.full_messages.each do |message| %>
            <p><%= message %></p>
            <% end %>
            <% end %>
        </div>

        <div class="edit_user">
            <%= form_for(@user) do |f| %>

            <p>Name</p>
            <p><%= f.text_field :name %></p>

            <p>Image</p>
            <p><%= f.attachment_field :profile_image %></p>


            <p>Introduction</p>
            <%= f.text_field :introduction %>

            <p></p>

            <p><%= f.submit "Update User" %></p>

            <% end %>
        </div>
    </div>
</body>