<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>book_edit</title>
</head>

<body>
    <div class="container">
        <div class="row">
          <div class="col-xs-4"></div>
          <div class="col-xs-4">
              <div class="edit.book">
	                <h1>Editing Book</h1>
                  
                  <div class="errors">
                      <% if @book.errors.any? %>
                      <p><%= @book.errors.count %>件のerror</p>
                      <% @book.errors.full_messages.each do |message| %>
                      <p><%= message %></p>
                      <% end %>
                      <% end %>
                  </div>

                      <%= form_for(@book) do |f| %>
	                    <p>Title</p>
                      <p><%= f.text_field :title, class: "form-control" %></p>

                      <p>Opinion</p>
                      <p><%= f.text_field :body, class: "form-control" %></p>

                      <p></p>

                      <p><%= f.submit "Update Book", class: "btn btn-default btn-block" %></p>

                      <% end %>

                      <%= link_to "Show", book_path(@book.id) %>  <span> | </span>

                      <%= link_to "Back", books_path %>
              </div>
          </div>
          <div class="col-xs-4"></div>
        </div>
    </div>
</body>