<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>book_index</title>
</head>

<body>
    <div class="container">

        <div class="errors">
            <% if @book.errors.any? %>
            <p><%= @book.errors.count %>件のerror</p>
            <% @book.errors.full_messages.each do |message| %>
            <p><%= message %></p>
            <% end %>
            <% end %>
        </div>

        <div class="row">
            <div class="col-xs-3">
                <div class="profile">
                    <h1>User info</h1>
                    <table class="table">
                        <thead>
                            <tr>
                                <th><%= attachment_image_tag @user, :profile_image , format: 'jpeg', size: "100x100" , fallback: "no_image.jpg" %></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>name</td>
                                <td><%= @user.name %></td>
                            </tr>
                            <tr>
                                <td>introduction</td>
                                <td><%= @user.introduction %></td>
                            </tr>
                        </tbody>
                        </table>

                        <div>
                            <% if @user.id == current_user.id %>
                            <%= link_to edit_user_path(@user) do %>
                            <button class="btn btn-default btn-block"><i class="glyphicon glyphicon-wrench" aria-hidden="true"></i></button>
                            <% end %>
                            <% end %>
                        </div>
                </div>

                <div class="create">
                    <h2>New book</h2>
                    <%= form_for(@book) do |f| %>

                    <h4>Title</h4>
                    <%= f.text_field :title, class: "form-control" %>

                    <h4>Opinion</h4>
                    <%= f.text_area :body, class: "form-control" %>

                    <p></p>

                    <p><%= f.submit "Create Book", class: "btn btn-default btn-block" %></p>


                    <% end %>
                </div>
            </div>

            <div class="col-xs-9">
                <div class="Books">
                    <h1>Books</h1>
                    <table class="table">
                        <thead>
                        <tr>
                            <th></th>
                            <th>Title</th>
                            <th>Opinion</th>
                        </tr>
                        </thead>
                        <tbody>
                        <% @books.each do |book| %>
                        <tr>
                            <td><%= link_to user_path(book.user) do %>
                            <%= attachment_image_tag book.user, :profile_image , format: 'jpeg', size: "40x40" , fallback: "no_image.jpg" %></td>
                            <% end %>
                            <td><%=link_to "#{book.title}" , book_path(book.id)%></td>
                            <td><%= book.body %></td>
                        </tr>
                        </tbody>
                        <% end %>
                    </table>
                </div>
            </div>
        </div>
    </div>
</body>